.container {
  padding: 20px;
  text-align: center;
}

.countInput {
  width: 60px;
  text-align: center;
  height: 35px;
  margin: 5px;
}

.button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  margin: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.matrixBlock {
  background-color: #efefef;
  padding: 12px;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
}

.sizeRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sizeInput {
  width: 50px;
  text-align: center;
}

.matrixScroll {
  overflow-x: auto;
  display: inline-block;
  margin-top: 5px;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  width: 50px;
  height: 35px;
  text-align: center;
  margin: 3px;
}

.opRow {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.opButton {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.disabled {
  background-color: #9ccc9c;
  opacity: 0.4;
  cursor: not-allowed;
}

.resultBox {
  background-color: #d8ffd8;
  padding: 12px;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
}

.resultCell {
  border: 1px solid #000;
  min-width: 50px;
  padding: 8px;
  margin: 2px;
  display: inline-block;
}
