/* index.css */
@import url('https://fonts.googleapis.com/css?family=Exo:100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* makes width/padding predictable */
}

html, body {
  margin: 1.5rem 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Exo', sans-serif;
}
